{% extends "personal/header.html" %}
{% block content %}
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.
    Um, my name is coder. I am a programmer, Network Engineer and on my free time i dedicate some energy to Maths and Physics.
As a programmer i develop websites and programmes ...As a Network Engineer i deploy networks and systems
as a math and physics enthusiast i follow latest scientific papers and talks on these fields.
Reading  quite a number of books and provide reviews accordingly is also what i love to do!
If you have any questions about these fields please feel free to reach out at codercoder106.gmail.com</p>

{% include "personal/includes/htmlsnippet.html"   %}
{% endblock %}



